*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --praimary:#536942;
    --secondary:#ffd936;
    --white:#efefef;
}
body{
    font-family: sans-serif;
    color: var(--paimary);
}
html{
    scroll-behavior: smooth;
}
#main{
    background-image: url(image/main.png);
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}
.container{
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
section{
    margin: 80px auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.nav-links a{
    color: var(--white);
    text-decoration: none;
}
.btn{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-secondary{
    color: var(--white);
    border: 2px solid var(--white);
    font-weight: bold;
}
.btn-primary{
    background-color:var(--secondary);
    border: none;
    color: var(--praimary);
}
.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    color: var(--white);
}
.main-content .intro-heading{
    font-size: 50px;
}
.main-content .intro-heading{
    font-size: 100px;
    margin-top: -20px;
}
.main-content p{
    margin-bottom: 10px;
    max-width: 250px;
}
.menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    width: 30px;
}





.section-title h1{
    font-size: 50px;
    text-align: center;
}
.section-title .line{
    width: 150px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin: auto;
}
.services{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    flex-wrap: wrap;
}
.service{
    width: 300px;
    text-align: center;
}
.service img{
    width: 100%;
    transition: transform .4s;
}
.service img:hover{
    transform: scale(1.05);
}
.service h3{
    font-size: 25px;
    margin: 10px 0;
    color: var(--praimary);
}
.service p{
    font-size: 16px;
    color: rgb(105, 102, 102);
}



#testimonial{
    background: #f1f2fa;
}
#testimonial .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;
    padding: 50px 16px;
}
#testimonial h1{
    font-size: 30px;
    font-family: 'forum', sans-serif;
    text-align: center;
    color: var(--praimary);
}
#testimonial .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
#about-us .container .about-content{
    color: var(--praimary);
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}




#quistions{
    min-height: 450px;
    background-image: url(image/main-2.png);
    background-position: bottom center;
    background-size: cover;
}
#quistions .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 450px;
    color: var(--praimary);
    max-width: 500px;
    text-align: center;
}
#quistions h1{
    font-size: 50px;
}


footer{
    margin-top: -60px;
}
footer .container{
    display: flex;
    padding: 20px 16px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.footer-links{
    display:flex;
    align-items:center ;
    gap: 18px;
    list-style: none;
}
.footer-links a {
    text-decoration: none;
}













@media screen and (max-width:550px){
    .menu-btn{
        display: block;
    }
    .nav-links{
        flex-direction: column;
        background: gray;
        position: fixed;
        width: 80%;
        top: 0;
        right: -900px;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.4s ease;
    }
    .main-content{
        margin-top: 150px;
    }
    .nav-links.active{
        right: 0px;
    }
    .nav-links li:not(:last-child){
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid var(--white);
    }
    .service{
        width: 350px;
    }



    #about-us .container{
        flex-direction: column;
        gap: 30px;
    }



    footer .container{
        flex-direction: column;
        gap: 20px;
    }
}
